@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Crimson+Text|Reenie+Beanie');

.App {
  text-align: center;
  margin: 0 auto;
  font-family: 'Crimson Text', serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4em;
}

.App-subtitle {
  font-family: 'Crimson Text', serif;
  margin: 0;
  font-size: 1.1em;
}

.App-intro {
  font-size: large;
}

.centered-col {
  margin: auto;
  max-width: 700px;
}

.book-card {
  float: left;
  padding: 0;
  margin: 0 auto;
  margin: 0, -10%;
  width: 50%;
  align-content: center;
  line-height: 90%;

}

.book-title {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

.book-form {
  font-family: 'Amatic SC', cursive;
  font-size: .75em;
  font-weight: lighter;
}

.form-control {
  max-width: 400px;
  font-family: 'Crimson Text', serif;
  color: #919191;
  border-radius: 10px;
}

.form-control:hover {
  border-color: #afd6af;
}

.form-title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.90em;
}

.buttons {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  color: #777;
}

.buttons:hover {
  border-color: #afd6af;
}

.about {
  font-family: 'Crimson Text', serif;
  font-size: 1.2em;
}

.links {
  color: #54a555;
  text-decoration: none;
}

.links:hover {
  color: #263d26;
  text-decoration: none;
}

.search-bar-field {
  margin: auto;
  font-family: 'Crimson Text', serif;
  color: #919191;
  border-radius: 10px;
  max-width: 300px;
}

.search-bar-field:hover {
  border-color: #afd6af;
}

.delete-form {
  font-family: Arial;
  font-size: .5em;
}

.divider {
    color: #ccc;
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 245px;
    border-style: dotted;
    border-width: 1px;
}

.book-cover {
  border-color: #d2e0d2;
}

.open-books {
  max-width: 470px;
  text-align: center;
  margin: auto;
}

.lists {
  list-style-type: circle;
  color: #afd6af;
}

.footer-divider {
  background-image: url('https://i.imgur.com/OfxFOWf.gif');
  background-repeat: no-repeat;
  background-attachment: relative;
  background-position: 50% 125%;
  opacity: 0.85;
  background-size: 20%;
}

.favorites {
  margin: auto;
  width: 80%;
  align-content: center;
}

.favorites-title {
  color: #919191;
  font-weight: lighter;
  font-variant: small-caps;
}
