@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Crimson+Text|Reenie+Beanie');

.App {
  text-align: center;
  margin: 0 auto;
  font-family: 'Crimson Text', serif;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4em;
}

.App-subtitle {
  font-family: 'Crimson Text', serif;
  font-size: 1.2em;
}

.App-intro {
  font-size: large;
}

.centered-col {
  margin: auto;
  max-width: 500px;
}

.book-title {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

.book-form {
  font-family: 'Amatic SC', cursive;
  font-size: .75em;
  font-weight: lighter;
}

.form-control {
  max-width: 400px;
  font-family: Arial;
}

.form-title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.90em;
}

.buttons {
  font-family: Arial;
}
