.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navBarLink {
    float: left;
}

.navBarLink a {
    display: block;
    color: gray;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.navBarLink a:hover:not(.active) {
    background-color: #fafafa;
}

.active {
    background-color: #fafafa;
}
